h1
{
    text-align: center;
		font-size: 60px;
		font-family: 'PRIMETIME';
}

@font-face {
  font-family: "PRIMETIME";
  src: url("font/PRIMETIME.ttf") format("ttf");
}

.center {
    text-align: center;
}

li {
  list-style: none;
}